alertClip=false

alertClipTimeout=5

chooserDividerLocation=254

chooserVisible=true

clipboardMaximized=true

clipboardSizeX=600

clipboardSizeY=600

clipboardVisible=false

clipboardX=145

clipboardY=86

durationA=1.86

durationB=-0.85

durationEnabled=false

fdsnDataselectURL=http://service.geonet.org.nz/fdsnws/dataselect/1/query

fdsnStationURL=http://service.geonet.org.nz/fdsnws/station/1/query

hypocenterSource=NONE

kiosk=false

lastPath=/home/sherburn/Desktop

mapHeight=1025

mapLatitude=-39.284771429132725

mapLineColor=0

mapLineWidth=2

mapLongitude=175.66130987999622

mapMaximized=false

mapPath=mapdata

mapScale=150.3341866769574

mapVisible=false

mapWidth=1662

mapX=0

mapY=0

nearestDividerLocation=721

pVelocity=6.0

saveConfig=true

server=GeoNet Winston;wws:winston.geonet.org.nz:2060:1200000:1
server=IRIS Seedlink;sls:rtserve.iris.washington.edu:18000
server=GeoNet FDSN;wsc:NZ|MAVZ,FWVZ,TRVZ,WHVZ,TOVZ,IVVZ,COVZ,TMVZ,KRVZ,OTVZ,WTVZ,NGZ,NTVZ,WIZ,WSRZ,GLKZ,RIZ,NGZ,NNVZ|10,30|EH?,HH?,HDF,HDH|3600|0|http://service.geonet.org.nz/fdsnws/dataselect/1/query|http://service.geonet.org.nz/fdsnws/station/1/query
server=GeoNet FDSN NRT Beta;wsc:NZ|MAVZ,FWVZ,TRVZ,WHVZ,TOVZ,IVVZ,COVZ,TMVZ,KRVZ,OTVZ,WTVZ,NGZ,NTVZ,WIZ,WSRZ,GLKZ,RIZ,NGZ,NNVZ|10,30,31,32|EH?,HH?,HDF|3600|0|http://beta-service-nrt.geonet.org.nz/fdsnws/dataselect/1/query|http://beta-service-nrt.geonet.org.nz/fdsnws/station/1/query

showClip=true

span=24

specificTimeZone=UTC

timeChunk=30

useInstrumentTimeZone=true

useLargeCursor=false

useLocalTimeZone=true

useWMS=false

userTimes=20180708,20180707,20180210,20180101,20180125,20180124,20180123,20180122,20171030

velocityRatio=1.73

windowMaximized=true

windowSizeX=1272

windowSizeY=893

windowX=1428

windowY=65

wmsLayer=global_mosaic

wmsServer=http://wms.jpl.nasa.gov/wms.cgi

wmsStyles=visual

