chooser.source=GeoNet FDSN NRT Beta

helicorder=helicorder-0
helicorder=helicorder-1
helicorder=helicorder-2
helicorder=helicorder-3

helicorder-0.alertClip=false

helicorder-0.alertClipTimeout=300

helicorder-0.autoScale=true

helicorder-0.barMult=5.25

helicorder-0.barRange=4778

helicorder-0.bottomTime=NaN

helicorder-0.channel=MAVZ HHZ NZ 10

helicorder-0.clipBars=21

helicorder-0.clipValue=19114

helicorder-0.forceCenter=false

helicorder-0.h=484

helicorder-0.maximized=false

helicorder-0.pinned=false

helicorder-0.refreshInterval=15

helicorder-0.scrollSize=24

helicorder-0.showClip=true

helicorder-0.source=GeoNet FDSN NRT Beta

helicorder-0.span=1440

helicorder-0.timeChunk=1800

helicorder-0.w=837

helicorder-0.wave.alternateOrientationCode=Z12

helicorder-0.wave.autoScaleAmp=true

helicorder-0.wave.autoScaleAmpMemory=true

helicorder-0.wave.autoScalePower=false

helicorder-0.wave.autoScalePowerMemory=true

helicorder-0.wave.binSize=2.0

helicorder-0.wave.filter.corner1=1.0

helicorder-0.wave.filter.corner2=10.0

helicorder-0.wave.filter.order=4

helicorder-0.wave.filter.samplingRate=100.0

helicorder-0.wave.filter.type=B

helicorder-0.wave.filterOn=false

helicorder-0.wave.logFreq=true

helicorder-0.wave.logPower=true

helicorder-0.wave.maxAmp=1000.0

helicorder-0.wave.maxFreq=25.0

helicorder-0.wave.maxPower=120.0

helicorder-0.wave.minAmp=-1000.0

helicorder-0.wave.minFreq=0.0

helicorder-0.wave.minPower=20.0

helicorder-0.wave.nfft=0

helicorder-0.wave.removeBias=true

helicorder-0.wave.spectrogramOverlap=0.859375

helicorder-0.wave.useAlternateOrientationCode=false

helicorder-0.wave.useUnits=true

helicorder-0.wave.viewType=W

helicorder-0.wave.zeroPhaseShift=true

helicorder-0.waveZoomOffset=30

helicorder-0.x=0

helicorder-0.y=0

helicorder-1.alertClip=false

helicorder-1.alertClipTimeout=300

helicorder-1.autoScale=true

helicorder-1.barMult=5.25

helicorder-1.barRange=4685

helicorder-1.bottomTime=NaN

helicorder-1.channel=FWVZ HHZ NZ 10

helicorder-1.clipBars=21

helicorder-1.clipValue=18743

helicorder-1.forceCenter=false

helicorder-1.h=484

helicorder-1.maximized=false

helicorder-1.pinned=false

helicorder-1.refreshInterval=15

helicorder-1.scrollSize=24

helicorder-1.showClip=true

helicorder-1.source=GeoNet FDSN NRT Beta

helicorder-1.span=1440

helicorder-1.timeChunk=1800

helicorder-1.w=837

helicorder-1.wave.alternateOrientationCode=Z12

helicorder-1.wave.autoScaleAmp=true

helicorder-1.wave.autoScaleAmpMemory=true

helicorder-1.wave.autoScalePower=false

helicorder-1.wave.autoScalePowerMemory=true

helicorder-1.wave.binSize=2.0

helicorder-1.wave.filter.corner1=1.0

helicorder-1.wave.filter.corner2=10.0

helicorder-1.wave.filter.order=4

helicorder-1.wave.filter.samplingRate=100.0

helicorder-1.wave.filter.type=B

helicorder-1.wave.filterOn=false

helicorder-1.wave.logFreq=true

helicorder-1.wave.logPower=true

helicorder-1.wave.maxAmp=1000.0

helicorder-1.wave.maxFreq=25.0

helicorder-1.wave.maxPower=120.0

helicorder-1.wave.minAmp=-1000.0

helicorder-1.wave.minFreq=0.0

helicorder-1.wave.minPower=20.0

helicorder-1.wave.nfft=0

helicorder-1.wave.removeBias=true

helicorder-1.wave.spectrogramOverlap=0.859375

helicorder-1.wave.useAlternateOrientationCode=false

helicorder-1.wave.useUnits=true

helicorder-1.wave.viewType=W

helicorder-1.wave.zeroPhaseShift=true

helicorder-1.waveZoomOffset=30

helicorder-1.x=837

helicorder-1.y=0

helicorder-2.alertClip=false

helicorder-2.alertClipTimeout=300

helicorder-2.autoScale=true

helicorder-2.barMult=4.75

helicorder-2.barRange=4395

helicorder-2.bottomTime=NaN

helicorder-2.channel=WHVZ HHZ NZ 10

helicorder-2.clipBars=21

helicorder-2.clipValue=19431

helicorder-2.forceCenter=false

helicorder-2.h=484

helicorder-2.maximized=false

helicorder-2.pinned=false

helicorder-2.refreshInterval=15

helicorder-2.scrollSize=24

helicorder-2.showClip=true

helicorder-2.source=GeoNet FDSN NRT Beta

helicorder-2.span=1440

helicorder-2.timeChunk=1800

helicorder-2.w=837

helicorder-2.wave.alternateOrientationCode=Z12

helicorder-2.wave.autoScaleAmp=true

helicorder-2.wave.autoScaleAmpMemory=true

helicorder-2.wave.autoScalePower=false

helicorder-2.wave.autoScalePowerMemory=true

helicorder-2.wave.binSize=2.0

helicorder-2.wave.filter.corner1=1.0

helicorder-2.wave.filter.corner2=10.0

helicorder-2.wave.filter.order=4

helicorder-2.wave.filter.samplingRate=100.0

helicorder-2.wave.filter.type=B

helicorder-2.wave.filterOn=false

helicorder-2.wave.logFreq=true

helicorder-2.wave.logPower=true

helicorder-2.wave.maxAmp=1000.0

helicorder-2.wave.maxFreq=25.0

helicorder-2.wave.maxPower=120.0

helicorder-2.wave.minAmp=-1000.0

helicorder-2.wave.minFreq=0.0

helicorder-2.wave.minPower=20.0

helicorder-2.wave.nfft=0

helicorder-2.wave.removeBias=true

helicorder-2.wave.spectrogramOverlap=0.859375

helicorder-2.wave.useAlternateOrientationCode=false

helicorder-2.wave.useUnits=true

helicorder-2.wave.viewType=W

helicorder-2.wave.zeroPhaseShift=true

helicorder-2.waveZoomOffset=30

helicorder-2.x=0

helicorder-2.y=484

helicorder-3.alertClip=false

helicorder-3.alertClipTimeout=300

helicorder-3.autoScale=true

helicorder-3.barMult=5.25

helicorder-3.barRange=5488

helicorder-3.bottomTime=NaN

helicorder-3.channel=TRVZ HHZ NZ 10

helicorder-3.clipBars=21

helicorder-3.clipValue=21953

helicorder-3.forceCenter=false

helicorder-3.h=484

helicorder-3.maximized=false

helicorder-3.pinned=false

helicorder-3.refreshInterval=15

helicorder-3.scrollSize=24

helicorder-3.showClip=true

helicorder-3.source=GeoNet FDSN NRT Beta

helicorder-3.span=1440

helicorder-3.timeChunk=1800

helicorder-3.w=837

helicorder-3.wave.alternateOrientationCode=Z12

helicorder-3.wave.autoScaleAmp=true

helicorder-3.wave.autoScaleAmpMemory=true

helicorder-3.wave.autoScalePower=false

helicorder-3.wave.autoScalePowerMemory=true

helicorder-3.wave.binSize=2.0

helicorder-3.wave.filter.corner1=1.0

helicorder-3.wave.filter.corner2=10.0

helicorder-3.wave.filter.order=4

helicorder-3.wave.filter.samplingRate=100.0

helicorder-3.wave.filter.type=B

helicorder-3.wave.filterOn=false

helicorder-3.wave.logFreq=true

helicorder-3.wave.logPower=true

helicorder-3.wave.maxAmp=1000.0

helicorder-3.wave.maxFreq=25.0

helicorder-3.wave.maxPower=120.0

helicorder-3.wave.minAmp=-1000.0

helicorder-3.wave.minFreq=0.0

helicorder-3.wave.minPower=20.0

helicorder-3.wave.nfft=0

helicorder-3.wave.removeBias=true

helicorder-3.wave.spectrogramOverlap=0.859375

helicorder-3.wave.useAlternateOrientationCode=false

helicorder-3.wave.useUnits=true

helicorder-3.wave.viewType=W

helicorder-3.wave.zeroPhaseShift=true

helicorder-3.waveZoomOffset=30

helicorder-3.x=837

helicorder-3.y=484

kiosk=false

kioskX=0

kioskY=0

name=helicorder_ruapehu_seismic

