chooser.source=GeoNet FDSN NRT Beta

kiosk=false

kioskX=0

kioskY=0

monitor=monitor-0

monitor-0.h=968

monitor-0.maximized=true

monitor-0.refreshInterval=1000

monitor-0.slideInterval=500

monitor-0.source=GeoNet FDSN NRT Beta

monitor-0.span=7200

monitor-0.w=1674

monitor-0.wave-0.alternateOrientationCode=Z12

monitor-0.wave-0.autoScaleAmp=true

monitor-0.wave-0.autoScaleAmpMemory=true

monitor-0.wave-0.autoScalePower=false

monitor-0.wave-0.autoScalePowerMemory=true

monitor-0.wave-0.binSize=2.0

monitor-0.wave-0.channel=KHEZ HHZ NZ 10

monitor-0.wave-0.filter.corner1=1.0

monitor-0.wave-0.filter.corner2=10.0

monitor-0.wave-0.filter.order=4

monitor-0.wave-0.filter.samplingRate=100.0

monitor-0.wave-0.filter.type=B

monitor-0.wave-0.filterOn=false

monitor-0.wave-0.logFreq=true

monitor-0.wave-0.logPower=true

monitor-0.wave-0.maxAmp=1000.0

monitor-0.wave-0.maxFreq=25.0

monitor-0.wave-0.maxPower=120.0

monitor-0.wave-0.minAmp=-1000.0

monitor-0.wave-0.minFreq=0.0

monitor-0.wave-0.minPower=20.0

monitor-0.wave-0.nfft=0

monitor-0.wave-0.removeBias=true

monitor-0.wave-0.spectrogramOverlap=0.859375

monitor-0.wave-0.useAlternateOrientationCode=false

monitor-0.wave-0.useUnits=true

monitor-0.wave-0.viewType=G

monitor-0.wave-0.zeroPhaseShift=true

monitor-0.wave-1.alternateOrientationCode=Z12

monitor-0.wave-1.autoScaleAmp=true

monitor-0.wave-1.autoScaleAmpMemory=true

monitor-0.wave-1.autoScalePower=false

monitor-0.wave-1.autoScalePowerMemory=true

monitor-0.wave-1.binSize=2.0

monitor-0.wave-1.channel=NEZ EHZ NZ 11

monitor-0.wave-1.filter.corner1=1.0

monitor-0.wave-1.filter.corner2=10.0

monitor-0.wave-1.filter.order=4

monitor-0.wave-1.filter.samplingRate=100.0

monitor-0.wave-1.filter.type=B

monitor-0.wave-1.filterOn=false

monitor-0.wave-1.logFreq=true

monitor-0.wave-1.logPower=true

monitor-0.wave-1.maxAmp=1000.0

monitor-0.wave-1.maxFreq=25.0

monitor-0.wave-1.maxPower=120.0

monitor-0.wave-1.minAmp=-1000.0

monitor-0.wave-1.minFreq=0.0

monitor-0.wave-1.minPower=20.0

monitor-0.wave-1.nfft=0

monitor-0.wave-1.removeBias=true

monitor-0.wave-1.spectrogramOverlap=0.859375

monitor-0.wave-1.useAlternateOrientationCode=false

monitor-0.wave-1.useUnits=true

monitor-0.wave-1.viewType=G

monitor-0.wave-1.zeroPhaseShift=true

monitor-0.wave-2.alternateOrientationCode=Z12

monitor-0.wave-2.autoScaleAmp=true

monitor-0.wave-2.autoScaleAmpMemory=true

monitor-0.wave-2.autoScalePower=false

monitor-0.wave-2.autoScalePowerMemory=true

monitor-0.wave-2.binSize=2.0

monitor-0.wave-2.channel=PREZ EHZ NZ 10

monitor-0.wave-2.filter.corner1=1.0

monitor-0.wave-2.filter.corner2=10.0

monitor-0.wave-2.filter.order=4

monitor-0.wave-2.filter.samplingRate=100.0

monitor-0.wave-2.filter.type=B

monitor-0.wave-2.filterOn=false

monitor-0.wave-2.logFreq=true

monitor-0.wave-2.logPower=true

monitor-0.wave-2.maxAmp=1000.0

monitor-0.wave-2.maxFreq=25.0

monitor-0.wave-2.maxPower=120.0

monitor-0.wave-2.minAmp=-1000.0

monitor-0.wave-2.minFreq=0.0

monitor-0.wave-2.minPower=20.0

monitor-0.wave-2.nfft=0

monitor-0.wave-2.removeBias=true

monitor-0.wave-2.spectrogramOverlap=0.859375

monitor-0.wave-2.useAlternateOrientationCode=false

monitor-0.wave-2.useUnits=true

monitor-0.wave-2.viewType=G

monitor-0.wave-2.zeroPhaseShift=true

monitor-0.wave-3.alternateOrientationCode=Z12

monitor-0.wave-3.autoScaleAmp=true

monitor-0.wave-3.autoScaleAmpMemory=true

monitor-0.wave-3.autoScalePower=false

monitor-0.wave-3.autoScalePowerMemory=true

monitor-0.wave-3.binSize=2.0

monitor-0.wave-3.channel=PKE EHZ NZ 10

monitor-0.wave-3.filter.corner1=1.0

monitor-0.wave-3.filter.corner2=10.0

monitor-0.wave-3.filter.order=4

monitor-0.wave-3.filter.samplingRate=100.0

monitor-0.wave-3.filter.type=B

monitor-0.wave-3.filterOn=false

monitor-0.wave-3.logFreq=true

monitor-0.wave-3.logPower=true

monitor-0.wave-3.maxAmp=1000.0

monitor-0.wave-3.maxFreq=25.0

monitor-0.wave-3.maxPower=120.0

monitor-0.wave-3.minAmp=-1000.0

monitor-0.wave-3.minFreq=0.0

monitor-0.wave-3.minPower=20.0

monitor-0.wave-3.nfft=0

monitor-0.wave-3.removeBias=true

monitor-0.wave-3.spectrogramOverlap=0.859375

monitor-0.wave-3.useAlternateOrientationCode=false

monitor-0.wave-3.useUnits=true

monitor-0.wave-3.viewType=G

monitor-0.wave-3.zeroPhaseShift=true

monitor-0.wave-4.alternateOrientationCode=Z12

monitor-0.wave-4.autoScaleAmp=true

monitor-0.wave-4.autoScaleAmpMemory=true

monitor-0.wave-4.autoScalePower=false

monitor-0.wave-4.autoScalePowerMemory=true

monitor-0.wave-4.binSize=2.0

monitor-0.wave-4.channel=NBEZ EHZ NZ 10

monitor-0.wave-4.filter.corner1=1.0

monitor-0.wave-4.filter.corner2=10.0

monitor-0.wave-4.filter.order=4

monitor-0.wave-4.filter.samplingRate=100.0

monitor-0.wave-4.filter.type=B

monitor-0.wave-4.filterOn=false

monitor-0.wave-4.logFreq=true

monitor-0.wave-4.logPower=true

monitor-0.wave-4.maxAmp=1000.0

monitor-0.wave-4.maxFreq=25.0

monitor-0.wave-4.maxPower=120.0

monitor-0.wave-4.minAmp=-1000.0

monitor-0.wave-4.minFreq=0.0

monitor-0.wave-4.minPower=20.0

monitor-0.wave-4.nfft=0

monitor-0.wave-4.removeBias=true

monitor-0.wave-4.spectrogramOverlap=0.859375

monitor-0.wave-4.useAlternateOrientationCode=false

monitor-0.wave-4.useUnits=true

monitor-0.wave-4.viewType=G

monitor-0.wave-4.zeroPhaseShift=true

monitor-0.wave-5.alternateOrientationCode=Z12

monitor-0.wave-5.autoScaleAmp=true

monitor-0.wave-5.autoScaleAmpMemory=true

monitor-0.wave-5.autoScalePower=false

monitor-0.wave-5.autoScalePowerMemory=true

monitor-0.wave-5.binSize=2.0

monitor-0.wave-5.channel=DREZ EHZ NZ 10

monitor-0.wave-5.filter.corner1=1.0

monitor-0.wave-5.filter.corner2=10.0

monitor-0.wave-5.filter.order=4

monitor-0.wave-5.filter.samplingRate=100.0

monitor-0.wave-5.filter.type=B

monitor-0.wave-5.filterOn=false

monitor-0.wave-5.logFreq=true

monitor-0.wave-5.logPower=true

monitor-0.wave-5.maxAmp=1000.0

monitor-0.wave-5.maxFreq=25.0

monitor-0.wave-5.maxPower=120.0

monitor-0.wave-5.minAmp=-1000.0

monitor-0.wave-5.minFreq=0.0

monitor-0.wave-5.minPower=20.0

monitor-0.wave-5.nfft=0

monitor-0.wave-5.removeBias=true

monitor-0.wave-5.spectrogramOverlap=0.859375

monitor-0.wave-5.useAlternateOrientationCode=false

monitor-0.wave-5.useUnits=true

monitor-0.wave-5.viewType=G

monitor-0.wave-5.zeroPhaseShift=true

monitor-0.wave-6.alternateOrientationCode=Z12

monitor-0.wave-6.autoScaleAmp=true

monitor-0.wave-6.autoScaleAmpMemory=true

monitor-0.wave-6.autoScalePower=false

monitor-0.wave-6.autoScalePowerMemory=true

monitor-0.wave-6.binSize=2.0

monitor-0.wave-6.channel=NMEZ EHZ NZ 10

monitor-0.wave-6.filter.corner1=1.0

monitor-0.wave-6.filter.corner2=10.0

monitor-0.wave-6.filter.order=4

monitor-0.wave-6.filter.samplingRate=100.0

monitor-0.wave-6.filter.type=B

monitor-0.wave-6.filterOn=false

monitor-0.wave-6.logFreq=true

monitor-0.wave-6.logPower=true

monitor-0.wave-6.maxAmp=1000.0

monitor-0.wave-6.maxFreq=25.0

monitor-0.wave-6.maxPower=120.0

monitor-0.wave-6.minAmp=-1000.0

monitor-0.wave-6.minFreq=0.0

monitor-0.wave-6.minPower=20.0

monitor-0.wave-6.nfft=0

monitor-0.wave-6.removeBias=true

monitor-0.wave-6.spectrogramOverlap=0.859375

monitor-0.wave-6.useAlternateOrientationCode=false

monitor-0.wave-6.useUnits=true

monitor-0.wave-6.viewType=G

monitor-0.wave-6.zeroPhaseShift=true

monitor-0.wave-7.alternateOrientationCode=Z12

monitor-0.wave-7.autoScaleAmp=true

monitor-0.wave-7.autoScaleAmpMemory=true

monitor-0.wave-7.autoScalePower=false

monitor-0.wave-7.autoScalePowerMemory=true

monitor-0.wave-7.binSize=2.0

monitor-0.wave-7.channel=MHEZ EHZ NZ 10

monitor-0.wave-7.filter.corner1=1.0

monitor-0.wave-7.filter.corner2=10.0

monitor-0.wave-7.filter.order=4

monitor-0.wave-7.filter.samplingRate=100.0

monitor-0.wave-7.filter.type=B

monitor-0.wave-7.filterOn=false

monitor-0.wave-7.logFreq=true

monitor-0.wave-7.logPower=true

monitor-0.wave-7.maxAmp=1000.0

monitor-0.wave-7.maxFreq=25.0

monitor-0.wave-7.maxPower=120.0

monitor-0.wave-7.minAmp=-1000.0

monitor-0.wave-7.minFreq=0.0

monitor-0.wave-7.minPower=20.0

monitor-0.wave-7.nfft=0

monitor-0.wave-7.removeBias=true

monitor-0.wave-7.spectrogramOverlap=0.859375

monitor-0.wave-7.useAlternateOrientationCode=false

monitor-0.wave-7.useUnits=true

monitor-0.wave-7.viewType=G

monitor-0.wave-7.zeroPhaseShift=true

monitor-0.wave-8.alternateOrientationCode=Z12

monitor-0.wave-8.autoScaleAmp=true

monitor-0.wave-8.autoScaleAmpMemory=true

monitor-0.wave-8.autoScalePower=false

monitor-0.wave-8.autoScalePowerMemory=true

monitor-0.wave-8.binSize=2.0

monitor-0.wave-8.channel=LREZ EHZ NZ 10

monitor-0.wave-8.filter.corner1=1.0

monitor-0.wave-8.filter.corner2=10.0

monitor-0.wave-8.filter.order=4

monitor-0.wave-8.filter.samplingRate=100.0

monitor-0.wave-8.filter.type=B

monitor-0.wave-8.filterOn=false

monitor-0.wave-8.logFreq=true

monitor-0.wave-8.logPower=true

monitor-0.wave-8.maxAmp=1000.0

monitor-0.wave-8.maxFreq=25.0

monitor-0.wave-8.maxPower=120.0

monitor-0.wave-8.minAmp=-1000.0

monitor-0.wave-8.minFreq=0.0

monitor-0.wave-8.minPower=20.0

monitor-0.wave-8.nfft=0

monitor-0.wave-8.removeBias=true

monitor-0.wave-8.spectrogramOverlap=0.859375

monitor-0.wave-8.useAlternateOrientationCode=false

monitor-0.wave-8.useUnits=true

monitor-0.wave-8.viewType=G

monitor-0.wave-8.zeroPhaseShift=true

monitor-0.waves=9

monitor-0.x=0

monitor-0.y=0

name=monitor_taranaki_seismic

