chooser.source=GeoNet FDSN NRT Beta

kiosk=false

kioskX=-1

kioskY=24

monitor=monitor-0

monitor-0.h=977

monitor-0.maximized=true

monitor-0.refreshInterval=10000

monitor-0.slideInterval=5000

monitor-0.source=GeoNet FDSN NRT Beta

monitor-0.span=7200

monitor-0.w=1674

monitor-0.wave-0.alternateOrientationCode=Z12

monitor-0.wave-0.autoScaleAmp=true

monitor-0.wave-0.autoScaleAmpMemory=true

monitor-0.wave-0.autoScalePower=false

monitor-0.wave-0.autoScalePowerMemory=true

monitor-0.wave-0.binSize=2.0

monitor-0.wave-0.channel=WIZ HHZ NZ 10

monitor-0.wave-0.filter.corner1=1.0

monitor-0.wave-0.filter.corner2=10.0

monitor-0.wave-0.filter.order=4

monitor-0.wave-0.filter.samplingRate=100.0

monitor-0.wave-0.filter.type=B

monitor-0.wave-0.filterOn=false

monitor-0.wave-0.logFreq=true

monitor-0.wave-0.logPower=true

monitor-0.wave-0.maxAmp=1000.0

monitor-0.wave-0.maxFreq=25.0

monitor-0.wave-0.maxPower=120.0

monitor-0.wave-0.minAmp=-1000.0

monitor-0.wave-0.minFreq=0.0

monitor-0.wave-0.minPower=20.0

monitor-0.wave-0.nfft=0

monitor-0.wave-0.removeBias=true

monitor-0.wave-0.spectrogramOverlap=0.859375

monitor-0.wave-0.useAlternateOrientationCode=false

monitor-0.wave-0.useUnits=true

monitor-0.wave-0.viewType=G

monitor-0.wave-0.zeroPhaseShift=true

monitor-0.wave-1.alternateOrientationCode=Z12

monitor-0.wave-1.autoScaleAmp=true

monitor-0.wave-1.autoScaleAmpMemory=true

monitor-0.wave-1.autoScalePower=false

monitor-0.wave-1.autoScalePowerMemory=true

monitor-0.wave-1.binSize=2.0

monitor-0.wave-1.channel=WIZ HDF NZ 30

monitor-0.wave-1.filter.corner1=1.0

monitor-0.wave-1.filter.corner2=10.0

monitor-0.wave-1.filter.order=4

monitor-0.wave-1.filter.samplingRate=100.0

monitor-0.wave-1.filter.type=B

monitor-0.wave-1.filterOn=false

monitor-0.wave-1.logFreq=true

monitor-0.wave-1.logPower=true

monitor-0.wave-1.maxAmp=1000.0

monitor-0.wave-1.maxFreq=25.0

monitor-0.wave-1.maxPower=120.0

monitor-0.wave-1.minAmp=-1000.0

monitor-0.wave-1.minFreq=0.0

monitor-0.wave-1.minPower=20.0

monitor-0.wave-1.nfft=0

monitor-0.wave-1.removeBias=true

monitor-0.wave-1.spectrogramOverlap=0.859375

monitor-0.wave-1.useAlternateOrientationCode=false

monitor-0.wave-1.useUnits=true

monitor-0.wave-1.viewType=W

monitor-0.wave-1.zeroPhaseShift=true

monitor-0.wave-2.alternateOrientationCode=Z12

monitor-0.wave-2.autoScaleAmp=true

monitor-0.wave-2.autoScaleAmpMemory=true

monitor-0.wave-2.autoScalePower=false

monitor-0.wave-2.autoScalePowerMemory=true

monitor-0.wave-2.binSize=2.0

monitor-0.wave-2.channel=WSRZ HHZ NZ 10

monitor-0.wave-2.filter.corner1=1.0

monitor-0.wave-2.filter.corner2=10.0

monitor-0.wave-2.filter.order=4

monitor-0.wave-2.filter.samplingRate=100.0

monitor-0.wave-2.filter.type=B

monitor-0.wave-2.filterOn=false

monitor-0.wave-2.logFreq=true

monitor-0.wave-2.logPower=true

monitor-0.wave-2.maxAmp=1000.0

monitor-0.wave-2.maxFreq=25.0

monitor-0.wave-2.maxPower=120.0

monitor-0.wave-2.minAmp=-1000.0

monitor-0.wave-2.minFreq=0.0

monitor-0.wave-2.minPower=20.0

monitor-0.wave-2.nfft=0

monitor-0.wave-2.removeBias=true

monitor-0.wave-2.spectrogramOverlap=0.859375

monitor-0.wave-2.useAlternateOrientationCode=false

monitor-0.wave-2.useUnits=true

monitor-0.wave-2.viewType=G

monitor-0.wave-2.zeroPhaseShift=true

monitor-0.wave-3.alternateOrientationCode=Z12

monitor-0.wave-3.autoScaleAmp=true

monitor-0.wave-3.autoScaleAmpMemory=true

monitor-0.wave-3.autoScalePower=false

monitor-0.wave-3.autoScalePowerMemory=true

monitor-0.wave-3.binSize=2.0

monitor-0.wave-3.channel=WSRZ HDF NZ 30

monitor-0.wave-3.filter.corner1=1.0

monitor-0.wave-3.filter.corner2=10.0

monitor-0.wave-3.filter.order=4

monitor-0.wave-3.filter.samplingRate=100.0

monitor-0.wave-3.filter.type=B

monitor-0.wave-3.filterOn=false

monitor-0.wave-3.logFreq=true

monitor-0.wave-3.logPower=true

monitor-0.wave-3.maxAmp=1000.0

monitor-0.wave-3.maxFreq=25.0

monitor-0.wave-3.maxPower=120.0

monitor-0.wave-3.minAmp=-1000.0

monitor-0.wave-3.minFreq=0.0

monitor-0.wave-3.minPower=20.0

monitor-0.wave-3.nfft=0

monitor-0.wave-3.removeBias=true

monitor-0.wave-3.spectrogramOverlap=0.859375

monitor-0.wave-3.useAlternateOrientationCode=false

monitor-0.wave-3.useUnits=true

monitor-0.wave-3.viewType=W

monitor-0.wave-3.zeroPhaseShift=true

monitor-0.waves=4

monitor-0.x=0

monitor-0.y=0

name=monitor_whiteis_seismoacoustic

