chooser.source=GeoNet FDSN NRT

kiosk=false

kioskX=0

kioskY=0

monitor=monitor-0

monitor-0.h=1246

monitor-0.maximized=false

monitor-0.refreshInterval=1000

monitor-0.slideInterval=500

monitor-0.source=GeoNet FDSN NRT

monitor-0.span=7200

monitor-0.w=2535

monitor-0.wave-0.alternateOrientationCode=Z12

monitor-0.wave-0.autoScaleAmp=true

monitor-0.wave-0.autoScaleAmpMemory=true

monitor-0.wave-0.autoScalePower=false

monitor-0.wave-0.autoScalePowerMemory=true

monitor-0.wave-0.autoScaleSpectrogramPower=false

monitor-0.wave-0.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-0.binSize=2.0

monitor-0.wave-0.channel=WIZ HHZ NZ 10

monitor-0.wave-0.filter.corner1=1.0

monitor-0.wave-0.filter.corner2=10.0

monitor-0.wave-0.filter.order=4

monitor-0.wave-0.filter.samplingRate=100.0

monitor-0.wave-0.filter.type=B

monitor-0.wave-0.filterOn=false

monitor-0.wave-0.nfft=0

monitor-0.wave-0.removeBias=true

monitor-0.wave-0.spectraLogFreq=true

monitor-0.wave-0.spectraLogPower=true

monitor-0.wave-0.spectraMaxFreq=25.0

monitor-0.wave-0.spectraMaxPower=5.0

monitor-0.wave-0.spectraMinFreq=0.0

monitor-0.wave-0.spectraMinPower=1.0

monitor-0.wave-0.spectrogramLogPower=true

monitor-0.wave-0.spectrogramMaxFreq=25.0

monitor-0.wave-0.spectrogramMaxPower=120.0

monitor-0.wave-0.spectrogramMinFreq=0.0

monitor-0.wave-0.spectrogramMinPower=20.0

monitor-0.wave-0.spectrogramOverlap=0.859375

monitor-0.wave-0.useAlternateOrientationCode=false

monitor-0.wave-0.useAlternateSpectrum=true

monitor-0.wave-0.useUnits=true

monitor-0.wave-0.viewType=G

monitor-0.wave-0.waveMaxAmp=1000.0

monitor-0.wave-0.waveMinAmp=-1000.0

monitor-0.wave-0.zeroPhaseShift=true

monitor-0.wave-1.alternateOrientationCode=Z12

monitor-0.wave-1.autoScaleAmp=true

monitor-0.wave-1.autoScaleAmpMemory=true

monitor-0.wave-1.autoScalePower=false

monitor-0.wave-1.autoScalePowerMemory=true

monitor-0.wave-1.autoScaleSpectrogramPower=false

monitor-0.wave-1.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-1.binSize=2.0

monitor-0.wave-1.channel=WIZ HDF NZ 30

monitor-0.wave-1.filter.corner1=1.0

monitor-0.wave-1.filter.corner2=10.0

monitor-0.wave-1.filter.order=4

monitor-0.wave-1.filter.samplingRate=100.0

monitor-0.wave-1.filter.type=B

monitor-0.wave-1.filterOn=false

monitor-0.wave-1.nfft=0

monitor-0.wave-1.removeBias=true

monitor-0.wave-1.spectraLogFreq=true

monitor-0.wave-1.spectraLogPower=true

monitor-0.wave-1.spectraMaxFreq=25.0

monitor-0.wave-1.spectraMaxPower=5.0

monitor-0.wave-1.spectraMinFreq=0.0

monitor-0.wave-1.spectraMinPower=1.0

monitor-0.wave-1.spectrogramLogPower=true

monitor-0.wave-1.spectrogramMaxFreq=25.0

monitor-0.wave-1.spectrogramMaxPower=120.0

monitor-0.wave-1.spectrogramMinFreq=0.0

monitor-0.wave-1.spectrogramMinPower=20.0

monitor-0.wave-1.spectrogramOverlap=0.859375

monitor-0.wave-1.useAlternateOrientationCode=false

monitor-0.wave-1.useAlternateSpectrum=true

monitor-0.wave-1.useUnits=true

monitor-0.wave-1.viewType=W

monitor-0.wave-1.waveMaxAmp=1000.0

monitor-0.wave-1.waveMinAmp=-1000.0

monitor-0.wave-1.zeroPhaseShift=true

monitor-0.wave-2.alternateOrientationCode=Z12

monitor-0.wave-2.autoScaleAmp=true

monitor-0.wave-2.autoScaleAmpMemory=true

monitor-0.wave-2.autoScalePower=false

monitor-0.wave-2.autoScalePowerMemory=true

monitor-0.wave-2.autoScaleSpectrogramPower=false

monitor-0.wave-2.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-2.binSize=2.0

monitor-0.wave-2.channel=WIZ HDF NZ 31

monitor-0.wave-2.filter.corner1=1.0

monitor-0.wave-2.filter.corner2=10.0

monitor-0.wave-2.filter.order=4

monitor-0.wave-2.filter.samplingRate=100.0

monitor-0.wave-2.filter.type=B

monitor-0.wave-2.filterOn=false

monitor-0.wave-2.nfft=0

monitor-0.wave-2.removeBias=true

monitor-0.wave-2.spectraLogFreq=true

monitor-0.wave-2.spectraLogPower=true

monitor-0.wave-2.spectraMaxFreq=25.0

monitor-0.wave-2.spectraMaxPower=5.0

monitor-0.wave-2.spectraMinFreq=0.0

monitor-0.wave-2.spectraMinPower=1.0

monitor-0.wave-2.spectrogramLogPower=true

monitor-0.wave-2.spectrogramMaxFreq=25.0

monitor-0.wave-2.spectrogramMaxPower=120.0

monitor-0.wave-2.spectrogramMinFreq=0.0

monitor-0.wave-2.spectrogramMinPower=20.0

monitor-0.wave-2.spectrogramOverlap=0.859375

monitor-0.wave-2.useAlternateOrientationCode=false

monitor-0.wave-2.useAlternateSpectrum=true

monitor-0.wave-2.useUnits=true

monitor-0.wave-2.viewType=W

monitor-0.wave-2.waveMaxAmp=1000.0

monitor-0.wave-2.waveMinAmp=-1000.0

monitor-0.wave-2.zeroPhaseShift=true

monitor-0.wave-3.alternateOrientationCode=Z12

monitor-0.wave-3.autoScaleAmp=true

monitor-0.wave-3.autoScaleAmpMemory=true

monitor-0.wave-3.autoScalePower=false

monitor-0.wave-3.autoScalePowerMemory=true

monitor-0.wave-3.autoScaleSpectrogramPower=false

monitor-0.wave-3.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-3.binSize=2.0

monitor-0.wave-3.channel=WIZ HDF NZ 32

monitor-0.wave-3.filter.corner1=1.0

monitor-0.wave-3.filter.corner2=10.0

monitor-0.wave-3.filter.order=4

monitor-0.wave-3.filter.samplingRate=100.0

monitor-0.wave-3.filter.type=B

monitor-0.wave-3.filterOn=false

monitor-0.wave-3.nfft=0

monitor-0.wave-3.removeBias=true

monitor-0.wave-3.spectraLogFreq=true

monitor-0.wave-3.spectraLogPower=true

monitor-0.wave-3.spectraMaxFreq=25.0

monitor-0.wave-3.spectraMaxPower=5.0

monitor-0.wave-3.spectraMinFreq=0.0

monitor-0.wave-3.spectraMinPower=1.0

monitor-0.wave-3.spectrogramLogPower=true

monitor-0.wave-3.spectrogramMaxFreq=25.0

monitor-0.wave-3.spectrogramMaxPower=120.0

monitor-0.wave-3.spectrogramMinFreq=0.0

monitor-0.wave-3.spectrogramMinPower=20.0

monitor-0.wave-3.spectrogramOverlap=0.859375

monitor-0.wave-3.useAlternateOrientationCode=false

monitor-0.wave-3.useAlternateSpectrum=true

monitor-0.wave-3.useUnits=true

monitor-0.wave-3.viewType=W

monitor-0.wave-3.waveMaxAmp=1000.0

monitor-0.wave-3.waveMinAmp=-1000.0

monitor-0.wave-3.zeroPhaseShift=true

monitor-0.wave-4.alternateOrientationCode=Z12

monitor-0.wave-4.autoScaleAmp=true

monitor-0.wave-4.autoScaleAmpMemory=true

monitor-0.wave-4.autoScalePower=false

monitor-0.wave-4.autoScalePowerMemory=true

monitor-0.wave-4.autoScaleSpectrogramPower=false

monitor-0.wave-4.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-4.binSize=2.0

monitor-0.wave-4.channel=WSRZ HHZ NZ 10

monitor-0.wave-4.filter.corner1=1.0

monitor-0.wave-4.filter.corner2=10.0

monitor-0.wave-4.filter.order=4

monitor-0.wave-4.filter.samplingRate=100.0

monitor-0.wave-4.filter.type=B

monitor-0.wave-4.filterOn=false

monitor-0.wave-4.nfft=0

monitor-0.wave-4.removeBias=true

monitor-0.wave-4.spectraLogFreq=true

monitor-0.wave-4.spectraLogPower=true

monitor-0.wave-4.spectraMaxFreq=25.0

monitor-0.wave-4.spectraMaxPower=5.0

monitor-0.wave-4.spectraMinFreq=0.0

monitor-0.wave-4.spectraMinPower=1.0

monitor-0.wave-4.spectrogramLogPower=true

monitor-0.wave-4.spectrogramMaxFreq=25.0

monitor-0.wave-4.spectrogramMaxPower=120.0

monitor-0.wave-4.spectrogramMinFreq=0.0

monitor-0.wave-4.spectrogramMinPower=20.0

monitor-0.wave-4.spectrogramOverlap=0.859375

monitor-0.wave-4.useAlternateOrientationCode=false

monitor-0.wave-4.useAlternateSpectrum=true

monitor-0.wave-4.useUnits=true

monitor-0.wave-4.viewType=G

monitor-0.wave-4.waveMaxAmp=1000.0

monitor-0.wave-4.waveMinAmp=-1000.0

monitor-0.wave-4.zeroPhaseShift=true

monitor-0.wave-5.alternateOrientationCode=Z12

monitor-0.wave-5.autoScaleAmp=true

monitor-0.wave-5.autoScaleAmpMemory=true

monitor-0.wave-5.autoScalePower=false

monitor-0.wave-5.autoScalePowerMemory=true

monitor-0.wave-5.autoScaleSpectrogramPower=false

monitor-0.wave-5.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-5.binSize=2.0

monitor-0.wave-5.channel=WSRZ HDF NZ 30

monitor-0.wave-5.filter.corner1=1.0

monitor-0.wave-5.filter.corner2=10.0

monitor-0.wave-5.filter.order=4

monitor-0.wave-5.filter.samplingRate=100.0

monitor-0.wave-5.filter.type=B

monitor-0.wave-5.filterOn=false

monitor-0.wave-5.nfft=0

monitor-0.wave-5.removeBias=true

monitor-0.wave-5.spectraLogFreq=true

monitor-0.wave-5.spectraLogPower=true

monitor-0.wave-5.spectraMaxFreq=25.0

monitor-0.wave-5.spectraMaxPower=5.0

monitor-0.wave-5.spectraMinFreq=0.0

monitor-0.wave-5.spectraMinPower=1.0

monitor-0.wave-5.spectrogramLogPower=true

monitor-0.wave-5.spectrogramMaxFreq=25.0

monitor-0.wave-5.spectrogramMaxPower=120.0

monitor-0.wave-5.spectrogramMinFreq=0.0

monitor-0.wave-5.spectrogramMinPower=20.0

monitor-0.wave-5.spectrogramOverlap=0.859375

monitor-0.wave-5.useAlternateOrientationCode=false

monitor-0.wave-5.useAlternateSpectrum=true

monitor-0.wave-5.useUnits=true

monitor-0.wave-5.viewType=W

monitor-0.wave-5.waveMaxAmp=1000.0

monitor-0.wave-5.waveMinAmp=-1000.0

monitor-0.wave-5.zeroPhaseShift=true

monitor-0.wave-6.alternateOrientationCode=Z12

monitor-0.wave-6.autoScaleAmp=true

monitor-0.wave-6.autoScaleAmpMemory=true

monitor-0.wave-6.autoScalePower=false

monitor-0.wave-6.autoScalePowerMemory=true

monitor-0.wave-6.autoScaleSpectrogramPower=false

monitor-0.wave-6.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-6.binSize=2.0

monitor-0.wave-6.channel=WSRZ HDF NZ 33

monitor-0.wave-6.filter.corner1=1.0

monitor-0.wave-6.filter.corner2=10.0

monitor-0.wave-6.filter.order=4

monitor-0.wave-6.filter.samplingRate=100.0

monitor-0.wave-6.filter.type=B

monitor-0.wave-6.filterOn=false

monitor-0.wave-6.nfft=0

monitor-0.wave-6.removeBias=true

monitor-0.wave-6.spectraLogFreq=true

monitor-0.wave-6.spectraLogPower=true

monitor-0.wave-6.spectraMaxFreq=25.0

monitor-0.wave-6.spectraMaxPower=5.0

monitor-0.wave-6.spectraMinFreq=0.0

monitor-0.wave-6.spectraMinPower=1.0

monitor-0.wave-6.spectrogramLogPower=true

monitor-0.wave-6.spectrogramMaxFreq=25.0

monitor-0.wave-6.spectrogramMaxPower=120.0

monitor-0.wave-6.spectrogramMinFreq=0.0

monitor-0.wave-6.spectrogramMinPower=20.0

monitor-0.wave-6.spectrogramOverlap=0.859375

monitor-0.wave-6.useAlternateOrientationCode=false

monitor-0.wave-6.useAlternateSpectrum=true

monitor-0.wave-6.useUnits=true

monitor-0.wave-6.viewType=W

monitor-0.wave-6.waveMaxAmp=1000.0

monitor-0.wave-6.waveMinAmp=-1000.0

monitor-0.wave-6.zeroPhaseShift=true

monitor-0.wave-7.alternateOrientationCode=Z12

monitor-0.wave-7.autoScaleAmp=true

monitor-0.wave-7.autoScaleAmpMemory=true

monitor-0.wave-7.autoScalePower=false

monitor-0.wave-7.autoScalePowerMemory=true

monitor-0.wave-7.autoScaleSpectrogramPower=false

monitor-0.wave-7.autoScaleSpectrogramPowerMemory=true

monitor-0.wave-7.binSize=2.0

monitor-0.wave-7.channel=WSRZ HDF NZ 34

monitor-0.wave-7.filter.corner1=1.0

monitor-0.wave-7.filter.corner2=10.0

monitor-0.wave-7.filter.order=4

monitor-0.wave-7.filter.samplingRate=100.0

monitor-0.wave-7.filter.type=B

monitor-0.wave-7.filterOn=false

monitor-0.wave-7.nfft=0

monitor-0.wave-7.removeBias=true

monitor-0.wave-7.spectraLogFreq=true

monitor-0.wave-7.spectraLogPower=true

monitor-0.wave-7.spectraMaxFreq=25.0

monitor-0.wave-7.spectraMaxPower=5.0

monitor-0.wave-7.spectraMinFreq=0.0

monitor-0.wave-7.spectraMinPower=1.0

monitor-0.wave-7.spectrogramLogPower=true

monitor-0.wave-7.spectrogramMaxFreq=25.0

monitor-0.wave-7.spectrogramMaxPower=120.0

monitor-0.wave-7.spectrogramMinFreq=0.0

monitor-0.wave-7.spectrogramMinPower=20.0

monitor-0.wave-7.spectrogramOverlap=0.859375

monitor-0.wave-7.useAlternateOrientationCode=false

monitor-0.wave-7.useAlternateSpectrum=true

monitor-0.wave-7.useUnits=true

monitor-0.wave-7.viewType=W

monitor-0.wave-7.waveMaxAmp=1000.0

monitor-0.wave-7.waveMinAmp=-1000.0

monitor-0.wave-7.zeroPhaseShift=true

monitor-0.waves=8

monitor-0.x=221

monitor-0.y=45

name=monitor_whiteis_seismoacoustic

